# Auto detect text files and perform LF normalization
* text=auto

Map_Design.unity filter=lfs diff=lfs merge=lfs -text
Map_Dev.unity filter=lfs diff=lfs merge=lfs -text

"Assets/ObjectiveEnvironment_Assets/Realistic Terrain Textures Lite/Scenes/TerrainDATA/Terrain.asset" filter=lfs diff=lfs merge=lfs -text

Assets/TerrainData_2dce7960-4ed7-4352-bc57-79d49199a57f.asset filter=lfs diff=lfs merge=lfs -text
Assets/TerrainData_f61dde68-0f07-444a-b5a7-bf24e8475fb5.asset filter=lfs diff=lfs merge=lfs -text