# Auto detect text files and perform LF normalization
* text=auto

Assets/__CycleGame/Scenes/Levels/Map_Design.unity filter=lfs diff=lfs merge=lfs -text
Assets/__CycleGame/Scenes/Levels/Map_Dev.unity filter=lfs diff=lfs merge=lfs -text
"Assets/EasyRoads3D Scenes/Demo Scene v3.1.unity" filter=lfs diff=lfs merge=lfs -text
"Assets/EasyRoads3D Scenes/Demo Scene v3.2+.unity" filter=lfs diff=lfs merge=lfs -text
Assets/TerrainData_2dce7960-4ed7-4352-bc57-79d49199a57f.asset filter=lfs diff=lfs merge=lfs -text
Assets/TerrainData_f61dde68-0f07-444a-b5a7-bf24e8475fb5.asset filter=lfs diff=lfs merge=lfs -text